.md-toolbar-tools {
    border: 2px solid #676767;
    border-radius: 2px;
    min-height: 90px;
    padding: 5px;
    overflow: hidden;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d0bc+0,c9c190+40,b7ad70+100 */
background: #d3d0bc; /* Old browsers */
background: -moz-linear-gradient(top,  #d3d0bc 0%, #c9c190 40%, #b7ad70 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d0bc), color-stop(40%,#c9c190), color-stop(100%,#b7ad70)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d0bc', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */

}

.md-toolbar-tools h1 {
  font-size: 40px;
  font-weight: bold;
  margin: inherit;
}

.md-toolbar-tools h2 {
  font-size: 32px;
  font-weight: bold;
  margin: inherit;
}

.md-toolbar-tools img {
    text-align: center;
    max-height: 80px;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

.more-link {
  visibility: hidden;
}

#postFrame {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d0bc+0,c9c190+40,b7ad70+100 */
background: #d3d0bc; /* Old browsers */
background: -moz-linear-gradient(top,  #d3d0bc 0%, #c9c190 40%, #b7ad70 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d0bc), color-stop(40%,#c9c190), color-stop(100%,#b7ad70)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d3d0bc 0%,#c9c190 40%,#b7ad70 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d0bc', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */
}
#postContent {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
#postContent img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
}
