<body ng-app="DataLogicIT">
<div ng-controller="PostsController">
<div layout="column" class="md-primary md-hue-2">
  <div ng-click="setRoute('/posts/'+post.id)" ng-repeat="post in posts">
    <div layout="row" layout-align="space-between start" flex class="md-primary md-hue-2 md-padding">
      <span>{{ post.title }}</span>
      <span>By: {{ post.author }}</span><br>
      <span>Published: {{ post.date | date:'longDate'}}</span><br>
    </div>
    <div layout="column" ng-bind-html="post.excerpt"></div>
  </div>
</div>
</div>
</body>

