<body ng-app="DataLogicIT">
<div ng-controller="PostsController">
<div id="postFrame" style="padding-left:10; padding-right:10;" layout="column" layout-fill>
  <div ng-repeat="post in posts">
    <div ng-click="setRoute(post.route)" layout="row" layout-align="space-between start" flex class="md-primary md-hue-2">
      <div class="md-padding" flex layout="row" layout-align="space-between start">
        <span class="md-title">{{ post.title }}</span>
        <span class="md-title">Date: {{ post.date | date:'longDate'}}</span>
      </div>
    </div>
    <div id="postContent" ng-click="setRoute(post.route)" layout="column" class="md-padding md-body-1" ng-bind-html="post.excerpt"></div>
  </div>
</div>
</div>
</body>

