<body ng-app="DataLogicIT">
<div ng-controller="PostsController">
  <md-content class="md-padding">
    <md-card>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
    <br/>
    <md-card>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
    <br/>
    <md-card>
      <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </md-content>
</div>
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-animate.min.js"></script>
<script src="js/angular/angular-aria.min.js"></script>
<script src="js/angular/angular-material.min.js"></script>
<script src="js/angular/angular-sanitize.min.js"></script>
<script src="js/angular/angular-route.min.js"></script>
<script src="js/app.js"></script>
</body>

