<body ng-app="DataLogicIT">
<div id="postFrame" ng-controller="ViewPostController">
  <div style="padding: 25px; text-align: left;">
    <div flex layout="row" class="md-padding" layout-align="space-between start">
      <span class="md-title">{{ post.title.rendered }}</span>
      <span hide show-md show-gt-md class="md-body-2">Published: {{ post.date | date:'longDate'}}</span>
    </div>
    <span class="md-body-2 md-padding">Written By: {{ authorName }}</span>
  </div>
  <div id="postContent" class="md-padding" ng-bind-html="post.content.rendered">
  </div>
</div>
</body>

